
* {
    margin:0;
    padding:0;
    border:0;
}

#geral {
    width: 1000px;
    height: 900px;
    background-color: #ccc;
    margin: 0 auto;
}

.barra-azul {
    height: 100px;
    background:blue;
}

.barra-azul p {
    color: #fff;
    text-align: center;
    font-size: 56px;
    padding-top: 15px;
}

.paragraph{
    padding: 10px 15px;
}

.banner {
    margin-top: 20px;
    width: 33%;
    height: 250px; 
    background: #ccffcc;
    display: inline-block;
    
}

#green {
    background: green;    
}

#yellow {
    background: yellow;
}

#blue {
    background: blue;
}

.card {
    margin-top: 20px;
    width: 33%;
    height: 250px; 
    display: inline-block;   
}

.img-right {
    width: 150px;
    float: right;
    padding: 15px;
}

.img-center {   
    width: 600px;    
    padding: 40px;
    margin: 0 auto;
    display: block;
}

.img-left {
    width: 150px;
    float: left;
    padding: 15px;
}